@import '../fonts/fonts.css';

:root
{
    --silatourColor: #bfffc6;
    --colorYellow: #ffeb7c;
    --colorBlack: #2e2e2e;
    --lightMode: #333;
    --darkNight: #151a30;
    --lightNight: #262e45;
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: Qanelas, sans-serif;
}

::-moz-selection
{
    color: #333;
    background: #bfffc6;
    background: var(--silatourColor);
}

::selection
{
    color: #333;
    background: #bfffc6;
    background: var(--silatourColor);
}

img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

input
{
    border: 0;
}

input[type='submit'] + label
{
    cursor: pointer;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid
{
    display: grid;
}

.container
{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10%;
}

.speedbar
{
    font-size: 0.9375rem;
    font-weight: 300;

    transition: .33s;

    opacity: .67;
}

.speedbar:hover,
.speedbar:focus
{
    opacity: 1;
}

.speedbar span
{
    color: rgb(226,226,226);
}

.speedbar span a
{
    font-size: 0.875rem;

    padding-bottom: 1px;

    transition: .33s;

    color: #fff;
    border-bottom: 1px solid;
}

.speedbar span a:hover,
.speedbar span a:focus
{
    border-bottom: 0;
}

.navigation
{
    width: 100%;
    margin: 35px 0;

    text-align: center;
}

.navigation span
{
    font-size: 2.25rem;

    opacity: 1;
}

.navigation a
{
    font-size: 2.0625rem;

    margin: 15px;

    opacity: .5;
    color: #333;
}

.navigation a:hover,
.navigation a:focus
{
    opacity: 1;
}

.navigation a .icon
{
    width: 130px;

    transition: .55s;

    opacity: .2;

    fill: #333;
}

.navigation a .icon:hover,
.navigation a .icon:focus
{
    opacity: 1;
}

.navigation .right
{
    position: fixed;
    right: 50px;
    bottom: 0;

    -webkit-transform: rotate(180deg);

            transform: rotate(180deg);
}

.navigation .left
{
    position: fixed;
    bottom: 0;
    left: 50px;
}

.close
{
    position: absolute;
    right: 0;

    border: 0;
    background: 0;

    fill: #fff;
}

.close .icon
{
    width: 40px;
    height: 40px;
}

p a
{
    padding-bottom: 1px;

    border-bottom: 1px solid #bfffc6;

    border-bottom: 1px solid var(--silatourColor);
}

.header
{
    position: absolute;
    z-index: 9;

    width: 100%;
    max-height: 60px;
    padding: 15px 9%;

    transition: .33s;

    justify-content: space-between;
}

.header.fixed
{
    background: #fff;
    box-shadow: 0 0 22px rgba(0,0,0,.25);
}

.header.fixed .logotype
{
    color: #545454;
}

.header.fixed .header__left-side .header__menu-item
{
    font-size: 1.0625rem;
    font-weight: 300;
}

.header.fixed .header__left-side .header__menu-item a
{
    display: block;

    color: #333;
}

.header.white .logotype
{
    color: #fff;
}

.header.white .header__left-side .header__menu-item
{
    font-size: 1.0625rem;
    font-weight: 300;
}

.header.white .header__left-side .header__menu-item a
{
    display: block;

    color: #fff;
}

.header.white .header__right-side button
{
    color: #fff;
}

.header:hover .header__navigation,
.header:hover .header__right-side,
.header:focus .header__navigation,
.header:focus .header__right-side
{
    opacity: 1;
}

.header__left-side
{
    align-items: center;
}

.header__left-side .header__menu-item
{
    font-size: 1.0625rem;
    font-weight: 300;
}

.header__left-side .header__menu-item a
{
    position: relative;

    display: block;

    margin: 11px 13px;

    color: #333;

    color: var(--lightMode);
    border-radius: 50px;
}

.header__left-side .header__menu-item a:after
{
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 0;
    height: 1px;

    content: '';
    transition: .55s;

    background: #333;

    background: var(--lightMode);
}

.header__left-side .header__menu-item a:hover:after,
.header__left-side .header__menu-item a:focus:after
{
    width: 100%;
}

.header__right-side
{
    transition: .55s;

    opacity: .55;

    align-items: center;
    justify-content: flex-end;
}

.header__right-side .icon
{
    width: 17px;
    height: 17px;
    margin-right: 8px;

    fill: #333;
}

.header__right-side button
{
    margin-left: 12px;
    padding: 10px 25px;

    color: #333;
    border: 1px solid;
    border-radius: 50px;
    background: 0;

    align-items: center;
}

.header__right-side label
{
    width: 50px;
    height: 25px;
    margin-right: 10px;

    cursor: pointer;

    border: 1px solid #333;
    border-radius: 50px;
}

.header__right-side label:before
{
    display: block;

    width: 25px;
    height: 25px;

    content: '';
    transition: .55s;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);

    border-radius: 50%;
    background: #ffeb7c;
}

.header input
{
    display: none;
}

.header input:checked + label:before
{
    -webkit-transform: translateX(30px);
            transform: translateX(30px);

    background: #fff;
}

.header .header__navigation
{
    margin-left: 94px;

    transition: .55s;

    opacity: .55;
}

.header .logotype
{
    font: 2.25rem Debby;

    color: #545454;
}

.footer
{
    position: relative;
    z-index: 9;

    flex-direction: column;

    padding: 50px;

    background: #444;

    align-items: center;
}

.footer__list-info
{
    margin-bottom: 20px;
}

.footer__list-info a
{
    font-weight: 200;

    position: relative;

    margin: 0 10px;

    color: #fff;
}

.footer__list-info a:after
{
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 0;
    height: 1px;

    content: '';
    transition: .55s;

    background: #fff;
}

.footer__list-info a:hover:after,
.footer__list-info a:focus:after
{
    width: 100%;
}

.footer__cpr
{
    font-size: 0.875rem;
    font-weight: 200;

    text-align: center;

    color: #ccc;
}

.main__travel-filter
{
    width: 100%;
    height: 100vh;
    padding: 0 15%;
    padding-top: 100px;

    align-items: center;
    justify-content: space-around;
}

.main__travel-filter h2
{
    font-size: 4.875rem;

    margin-top: 25px;
    margin-bottom: 5px;

    color: #fff;
}

.travel-filter__info
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    align-items: center;
    justify-content: center;
}

.travel-filter__info .areyou
{
    font-size: 1.125rem;
    font-weight: 300;

    letter-spacing: 0.1875rem;
    text-transform: uppercase;

    color: #fff;
}

.travel-filter__info .categorys
{
    font-size: 1.125rem;

    display: inline-block;

    margin: 4px;
    padding: 6px 11px;

    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}

.travel-filter__info p
{
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.6875rem;

    max-width: 80%;
    margin-top: 10px;
    margin-left: 5px;

    color: #333;
}

.travel-filter__img
{
    position: relative;
}

.travel-filter__img a
{
    position: relative;
    z-index: 1;

    display: block;
    overflow: hidden;

    width: 700px;
    height: 700px;

    border-radius: 75% 30% 25% 75%/50% 50% 50% 50%;
}

.travel-filter__img a:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0,0,0,.58);
}

.travel-filter__settings
{
    z-index: 1;
}

.fiter__button
{
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;

    margin: auto;

    background: 0;
}

.fiter__button .icon
{
    width: 60px;
    height: 60px;
    padding: 14px;

    border-radius: 50%;
    background: #fff;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.19);

    fill: #333;
}

.fiter__button--right
{
    right: -20px;
}

.fiter__button--left
{
    left: -20px;

    -webkit-transform: rotate(180deg);

            transform: rotate(180deg);
}

.filter-settings__list-item
{
    margin: 25px;
}

.filter-settings__list-item h6
{
    font-size: 1.25rem;

    margin-bottom: 10px;

    color: #333;
}

.filter-settings__list-item span
{
    font: 1.0625rem/0.9375rem 'Qanelas-Regular';

    display: inline-block;

    padding: 10px 14px;

    color: #2f2f2f;
    border: 0;
    border-radius: 4px;
    background: #ffeb7c;
}

.travel-tip-page
{
    background: #f7f7f7;
}

.travel-tip-page .initial-screen
{
    position: relative;
}

.travel-tip-page .initial-screen .flex
{
    justify-content: center;
}

.travel-tip-page .initial-screen:hover img,
.travel-tip-page .initial-screen:focus img
{
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.travel-tip-page .initial-screen__info
{
    position: relative;
    z-index: 1;

    max-width: 950px;
    margin: auto;
    padding: 15% 0;

    text-align: center;
}

.travel-tip-page .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.67);
}

.travel-tip-page .initial-screen:after
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -4px;
    left: 0;

    height: 29%;

    content: '';

    background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: linear-gradient(to top, #f7f7f7, rgba(255,255,255,0));
}

.travel-tip-page .initial-screen .close
{
    margin-top: -50px;
}

.travel-tip-page .initial-screen img
{
    position: absolute;

    transition: .55s;
}

.travel-tip-page .initial-screen .category
{
    font-weight: 500;

    margin-bottom: 20px;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #bfffc6;

    color: var(--silatourColor);
}

.travel-tip-page .initial-screen h1
{
    font-size: 3rem;
    line-height: 3.375rem;

    position: relative;

    margin-bottom: 20px;
    padding: 0 50px;

    color: #fff;
}

.travel-tip-page .initial-screen p
{
    font-size: 1.25rem;
    line-height: 1.5rem;

    position: relative;

    padding: 0 10%;

    color: #fff;
}

.travel-tip-page .initial-screen .speedbar
{
    margin-top: 90px;
}

.travel-tip-page__info
{
    position: relative;
    z-index: 1;

    max-width: 950px;
    margin: -175px auto 0;
    padding: 6% 9%;

    border-radius: 9px 9px 0 0;
    background: #fff;
    box-shadow: 3px 2px 20px rgba(0,0,0,.13);
}

.travel-tip-page__info p
{
    font-size: 1.1875rem;
    font-weight: 300;
    line-height: 1.75rem;

    margin-bottom: 20px;

    color: #333;
}

.travel-tip-page__info h2
{
    font-size: 2.125rem;
    line-height: 2.625rem;

    margin-top: 30px;
    margin-bottom: 10px;

    color: #333;
}

.fullstory
{
    background: #f7f7f7;
}

.fullstory .initial-screen
{
    position: relative;
}

.fullstory .initial-screen:hover img,
.fullstory .initial-screen:focus img
{
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.fullstory .initial-screen__info
{
    position: relative;
    z-index: 1;

    max-width: 965px;
    margin: 0 auto;
    padding: 13% 0;

    text-align: left;
}

.fullstory .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.67);
}

.fullstory .initial-screen:after
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -4px;
    left: 0;

    height: 29%;

    content: '';

    background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: linear-gradient(to top, #f7f7f7, rgba(255,255,255,0));
}

.fullstory .initial-screen img
{
    position: absolute;

    transition: .55s;
}

.fullstory .initial-screen .category
{
    font-weight: 500;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #bfffc6;

    color: var(--silatourColor);
}

.fullstory .initial-screen h1
{
    font-size: 3rem;
    line-height: 3.375rem;

    position: relative;

    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 40px;

    color: #fff;
}

.fullstory .initial-screen .speedbar
{
    margin-top: 90px;
}

.fullstory__content
{
    position: relative;
    z-index: 1;

    max-width: 650px;
    margin-right: 20px;
    padding: 50px 0;

    border-radius: 0;
    border-radius: 9px;
    background: #fff;
}

.fullstory__content p
{
    padding: 0 50px;
}

.fullstory__content p,
.fullstory__content a
{
    font-size: 1.1875rem;
    font-weight: 300;
    line-height: 1.75rem;

    margin-bottom: 20px;

    color: #333;
}

.fullstory__content h2,
.fullstory__content h3,
.fullstory__content h4,
.fullstory__content h5,
.fullstory__content h6
{
    margin-bottom: 10px;
    padding: 0 50px;

    color: #333;
}

.fullstory__content h2
{
    font-size: 1.8125rem;
    line-height: 2.625rem;

    margin-top: 30px;
}

.fullstory__content img
{
    margin-bottom: 15px;

    border-radius: 3px;
}

.fullstory__aside
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    max-width: 300px;
    height: max-height;
}

.fullstory__aside .article-short-guidebook
{
    max-width: 100%;
    margin: 0 0 20px;

    border-radius: 0;
    border-radius: 5px;
}

.fullstory__container
{
    position: relative;
    z-index: 1;

    max-width: 1920px;
    margin: -150px auto 20px;
    padding: 0 10%;

    justify-content: center;
    align-items: flex-start;
}

.book-page:before
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0,0,0,.63);
}

.book-page:after
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/main-transparent none repeat 0 0 / auto auto padding-box border-box scroll-bg.jpg') no-repeat;

    background: url('../images/main-initial-bg.jpg') no-repeat;
    background-size: cover;
}

.book-page .initial-screen
{
    position: relative;
    z-index: 3;

    margin: auto;
    margin-top: 17%;

    justify-content: space-between;
}

.book-page .initial-screen .name-cat
{
    font-size: 0.8125rem;

    padding: 4px 8px;

    text-align: center;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;

    color: #333;
    border-radius: 1px;
    background: #ffeb7c;
}

.book-page .initial-screen .book__authors
{
    margin-top: 10px;
    margin-left: -10px;

    color: #333;
}

.book-page .initial-screen .book__authors span,
.book-page .initial-screen .book__authors a
{
    font-size: 1.25rem;
    font-weight: 300;

    display: inline-block;

    margin-bottom: 10px;
    margin-left: 10px;

    color: #333;
    border-bottom: 1px solid;
}

.book-page .initial-screen .book__keywords a
{
    font-size: 1.1875rem;
    font-weight: 300;

    display: inline-block;

    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8px 13px;

    color: #333;
    border: 1px solid;
    border-radius: 2px;
}

.book-page h1
{
    font-size: 2.8125rem;
    font-weight: 700;

    margin: 15px 0 25px;

    color: #333;
}

.book-page__poster
{
    position: -webkit-sticky;
    position: sticky;
    top: 15%;

    width: calc(100% - 1080px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    justify-content: center;
}

.book-page__poster img
{
    max-width: 300px;
    max-height: 525px;

    border-radius: 5px;
}

.book-page__discription
{
    width: 1080px;
    padding: 65px 0 65px 75px;

    background: #fff;
}

.book-page__discription .wrap
{
    padding-right: 250px;
}

.book-page__discription .article-short-guidebook
{
    max-width: 100%;
    margin: 0 0 20px;
}

.book-page__discription .article-short-guidebook__header
{
    padding: 50px 30px 50px;
}

.book-page__discription h2
{
    font-size: 1.625rem;
    font-weight: 500;

    margin-top: 25px;
    margin-bottom: 15px;

    color: #333;
}

.book-page__discription .related
{
    justify-content: flex-start;
}

.book-page__discription .related .article-book
{
    width: 170px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 10px;
}

.book-page__discription .related .article-book img
{
    height: 265px;
}

.book-page__content-info
{
    margin: 30px 0;
}

.book-page__content-info p
{
    font-size: 1.1875rem;
    font-weight: 300;
    line-height: 1.5rem;

    margin-bottom: 20px;
}

.country-page .speedbar
{
    position: absolute;
    z-index: 9;
    bottom: 35px;
    left: 9%;
}

.country-page .speedbar span,
.country-page .speedbar a
{
    color: #686868;
}

.country-page .initial-screen
{
    position: relative;
}

.country-page .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.63);
}

.country-page .initial-screen:after
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -1px;
    left: 0;

    height: 29%;

    content: '';

    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #fff, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));

    background: linear-gradient(to top, #fff, rgba(255,255,255,0));
}

.country-page .initial-screen__img
{
    position: absolute;
}

.country-page .initial-screen .close
{
    position: absolute;
    top: 14%;
    right: 9%;
}

.country-page .initial-screen .container
{
    position: relative;
    z-index: 1;

    padding: 6% 9%;

    align-items: center;
    justify-content: space-between;
}

.country-page .initial-screen h1
{
    font-size: 5rem;
    font-weight: 800;

    display: inline-block;

    margin: 7px 0;
    padding: 3px 19px 14px;

    color: #fff;
    border-radius: 4px;
    background: rgba(0,0,0,.36);
}

.country-page .initial-screen p
{
    font: 1.125rem 'Qanelas-Regular';

    margin: 3px 0 28px;

    color: #fff;
}

.country-page .initial-screen__info
{
    width: 100%;
    max-width: 65%;
}

.country-page .initial-screen__info .buttons
{
    flex-wrap: wrap;
}

.country-page .initial-screen__info .buttons button
{
    font: 1.0625rem/0.9375rem 'Qanelas-Regular';

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 19px;

    color: #2f2f2f;
    border: 0;
    border-radius: 4px;
    background: #ffeb7c;
}

.country-page .initial-screen__map
{
    position: relative;

    margin-top: 50px;
}

.country-page .initial-screen__map .icon
{
    width: 600px;
    height: 500px;

    transition: .55s;

    fill: rgba(255,255,255,.8);
}

.country-page .initial-screen__map .icon:hover,
.country-page .initial-screen__map .icon:focus
{
    fill: #fff;
}

.mini-info .icon
{
    position: relative;

    width: 75px;
    height: 75px;
}

.mini-info a
{
    font-size: 1.125rem;

    position: relative;
    bottom: 25px;

    margin-left: 8px;
    padding: 6px 11px;

    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}

.section
{
    position: relative;
}

.section h2
{
    font-size: 2.875rem;
    font-weight: 800;

    margin-bottom: 25px;

    color: #333;
}

.section p,
.section a
{
    font: 1.1875rem/1.75rem 'Qanelas-Regular';

    margin-bottom: 20px;

    color: #333;
}

.section .left-side
{
    max-width: 50%;

    align-items: center;
}

.section .right-side
{
    width: 50%;
}

.section .left-line
{
    flex-direction: column;

    margin-right: 60px;

    align-items: center;
}

.section .left-line hr
{
    width: 3px;
    height: 200px;
    margin: 25px 0;

    border: 0;
    background: #333;
}

.section .left-line span
{
    color: #333;
}

.info-country .left-side
{
    padding: 100px 200px 100px 100px;
}

.info-country .right-side
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    height: 100vh;
}

.geo-country .left-side
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 50%;
    max-height: 100vh;
    margin-top: 0;
}

.geo-country .right-side
{
    padding: 100px 200px 100px 100px;
}

.geo-country .left-line
{
    flex-direction: row;

    margin-bottom: 50px;

    align-items: center;
}

.geo-country .left-line hr
{
    width: 200px;
    height: 4px;
    margin: 25px;

    border: 0;
    background: #333;
}

.geo-country .left-line span
{
    color: #333;
}

.midle-side
{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -95px;

    overflow: hidden;

    max-width: 450px;
    height: 50vh;

    transition: .55s;

    border-radius: 5px 5px 0 0;
    background: #000;
}

.midle-side::-webkit-scrollbar
{
    width: 3px;
}

.midle-side::-webkit-scrollbar-thumb
{
    background: #bfffc6;
    background: var(--silatourColor);
}

.midle-side:hover,
.midle-side:focus
{
    overflow: auto;

    height: 80vh;

    border-radius: 0;
}

.midle-side ul
{
    padding: 50px 100px;
}

.midle-side li
{
    margin: 25px 0;
}

.midle-side h6
{
    font-size: 1.4375rem;
    font-weight: 600;

    margin-bottom: 4px;

    color: #fff;
}

.midle-side p,
.midle-side a
{
    font: 1.25rem 'Qanelas-Regular';

    color: #ccc;
}

.num-part
{
    position: absolute;
    z-index: 3;
    right: 50px;
    bottom: 50px;
}

.num-part span
{
    font: 1.4375rem 'Qanelas-Regular';

    color: #333;
}

.num-part b
{
    display: block;
}

.climate-country,
.geografy-country
{
    padding: 65px 20%;

    align-items: center;
}

.section--map
{
    height: 60vh;
}

.section--articles
{
    padding: 75px 0;

    background: #f7f7f7;
    box-shadow: inset 0 0 25px rgba(0,0,0,.17);
}

.section--articles h2
{
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 2.4375rem;

    max-width: 600px;
    margin: auto;
    margin-bottom: 35px;

    text-align: center;
}

.video-page .initial-screen
{
    position: relative;
}

.video-page .initial-screen h1
{
    font-size: 4.25rem;
    line-height: 4.25rem;

    position: relative;

    margin-bottom: 25px;

    color: #2e2e2e;

    color: var(--colorBlack);
}

.video-page .initial-screen p
{
    font-size: 1.125rem;
    line-height: 1.5rem;

    position: relative;

    color: #2e2e2e;

    color: var(--colorBlack);
}

.video-page .initial-screen img
{
    position: absolute;

    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

.video-page .initial-screen .container
{
    padding: 14% 10%;

    align-items: center;
    justify-content: space-between;
}

.video-info:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(255,255,255,.88)), color-stop(65%, rgba(51,51,51,.5)));

    background: -webkit-linear-gradient(left, rgba(255,255,255,.88) 35%, rgba(51,51,51,.5) 65%);

    background: -o-linear-gradient(left, rgba(255,255,255,.88) 35%, rgba(51,51,51,.5) 65%);

    background: linear-gradient(to right, rgba(255,255,255,.88) 35%, rgba(51,51,51,.5) 65%);
}

.video-play
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.video-play .icon__play
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 200px;
    height: 200px;

    opacity: .8;
    border-radius: 50%;
    background: rgba(171,255,240,.9);

    justify-content: center;
    align-items: center;
}

.video-play .icon
{
    width: 80px;
    height: 80px;

    fill: #fff;
}

.all-video
{
    position: relative;

    margin-top: -175px;
    margin-left: -25px;
    padding-top: 75px;

    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #fff), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #fff 80%, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #fff 80%, rgba(255,255,255,0));

    background: linear-gradient(to top, #fff 80%, rgba(255,255,255,0));

    flex-wrap: wrap;
}

.video-short
{
    max-width: calc(25% - 25px);
    margin-bottom: 25px;
    margin-left: 25px;
}

.video-short h4
{
    font-size: 1.0625rem;
    font-weight: 400;
}

.video-short .video-time
{
    position: absolute;
    top: 15px;
    right: 10px;

    padding: 1px 10px;

    color: #fff;
    border-radius: 50px;
    background: rgba(51,51,51,.8);
}

.video-short__preview
{
    position: relative;

    overflow: hidden;

    height: 185px;
    margin-bottom: 7px;

    border-radius: 5px;
}

.page__documents
{
    padding-top: 100px;

    background: #f7f7f7;
}

.page__documents aside
{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

    height: -webkit-max-content;

    height: -moz-max-content;

    height: max-content;
}

.page__documents .nav-list__item a
{
    font-weight: 300;

    padding: 10px 0;

    color: #00f;
    border-bottom: none;
}

.page__documents .nav-list__item a:visited
{
    color: #800080;
}

.page__documents .page-text
{
    max-width: 1080px;
    margin-right: 30px;
    padding: 50px 50px 50px 350px;

    background: #fff;
}

.page__documents .page-text .speedbar span a
{
    font-size: 0.9375rem;
}

.page__documents .page-text hr
{
    height: 3px;
    margin: 20px 0;

    border: 0;
    background: #f7f7f7;
}

.page__documents .page-text h1
{
    font-size: 2.25rem;

    margin-top: 10px;

    color: #333;
}

.page__documents .page-text h2
{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.625rem;

    margin-top: 30px;
}

.page__documents .page-text p,
.page__documents .page-text a
{
    font-size: 1.1875rem;
    font-weight: 300;
    line-height: 1.75rem;

    margin-bottom: 20px;

    color: #333;
}

.ref-guide__page
{
    width: calc(100% - 400px);
}

.ref-guide__page .content
{
    width: calc(100% - 300px);
}

.ref-guide__page aside
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 300px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 30px;
    margin-right: 35px;
    padding: 0;
}

.ref-guide__page aside article
{
    max-width: 100%;
}

.ref-guide__page .initial-screen
{
    position: relative;

    overflow: hidden;

    border-radius: 55px 0 0 0;
}

.ref-guide__page .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.68);
}

.ref-guide__page .initial-screen .wallpaper
{
    position: absolute;
}

.ref-guide__page .initial-screen .info
{
    position: relative;
    z-index: 2;

    max-width: 1280px;
    padding: 7%;
}

.ref-guide__page .initial-screen .info .button
{
    font: 1.0625rem/0.9375rem 'Qanelas-Regular';

    display: inline-block;

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 19px;

    color: #2f2f2f;
    border: 0;
    border-radius: 4px;
    background: #ffeb7c;
}

.ref-guide__page .initial-screen h1
{
    font-size: 2.375rem;

    margin-top: 10px;
    margin-bottom: 25px;

    color: #fff;
}

.table-phrasebook
{
    margin: 27px 0;
    margin-right: 15px;
    padding: 5% 10%;

    color: #5c5c5c;
    background: #fff;
}

.table-phrasebook h2
{
    font-size: 2.0625rem;

    margin-bottom: 30px;

    text-align: center;

    color: #333;
}

.table-phrasebook table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

.table-phrasebook th
{
    padding: 15px 25px;

    text-align: left;

    color: #fff;
    background: #42c6ac;
}

.table-phrasebook td
{
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5625rem;

    padding: 15px 25px;

    border: 1px solid #ebebeb;
    background: #fff;
}

#greeting
{
    border-left: 5px solid #f2c94c;
}

#greeting th
{
    background: #f2c94c;
}

#greeting tr:hover td,
#greeting tr:focus td
{
    color: #fff;
    background: #f2c94c;
}

#standard_phrase
{
    border-left: 5px solid #c94b4b;
}

#standard_phrase th
{
    background: #c94b4b;
}

#standard_phrase tr:hover td,
#standard_phrase tr:focus td
{
    color: #fff;
    background: #c94b4b;
}

#phrases_station
{
    border-left: 5px solid #81cc7f;
}

#phrases_station th
{
    background: #81cc7f;
}

#phrases_station tr:hover td,
#phrases_station tr:focus td
{
    color: #fff;
    background: #81cc7f;
}

#phrases_city
{
    border-left: 5px solid #41295a;
}

#phrases_city th
{
    background: #41295a;
}

#phrases_city tr:hover td,
#phrases_city tr:focus td
{
    color: #fff;
    background: #41295a;
}

#phrases_hotel
{
    border-left: 5px solid #67b26f;
}

#phrases_hotel th
{
    background: #67b26f;
}

#phrases_hotel tr:hover td,
#phrases_hotel tr:focus td
{
    color: #fff;
    background: #67b26f;
}

#phrases_restaurant
{
    border-left: 5px solid #67b26f;
}

#phrases_restaurant th
{
    background: #67b26f;
}

#phrases_restaurant tr:hover td,
#phrases_restaurant tr:focus td
{
    color: #fff;
    background: #67b26f;
}

.post__header-infos
{
    margin-right: 20px;

    align-items: center;
}

.post__header-infos span
{
    font-size: 1.0625rem;
    font-weight: 200;

    color: #fff;
}

.post__header-infos .icon
{
    width: 25px;
    height: 25px;
    margin-right: 10px;

    fill: #fff;
}

.aside
{
    transition: .33s;
}

.posts-aside__block
{
    width: 300px;
    margin-bottom: 25px;
    padding: 25px;

    border-radius: 5px;
    background: #fff;
}

.block-tags
{
    margin-top: 13px;
}

.block-tags a
{
    display: inline-block;

    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8px 13px;

    color: #333;
    border: 1px solid #333;
    border-radius: 2px;
}

h6
{
    font-size: 1.0625rem;
    font-weight: 300;

    margin-bottom: 5px;

    color: #b7b7b7;
}

.nav-list__item a
{
    font-size: 1.125rem;
    font-weight: 400;

    display: inline-block;

    width: 100%;
    padding: 18px 0;

    color: #4d4d4d;
    border-bottom: 1px solid #e6e6e6;
}

.nav-list__item:last-child a
{
    border-bottom: 0;
}

.main__posts
{
    padding-top: 115px;

    background: #f7f7f7;
}

.main__posts h1
{
    font-size: 2.25rem;

    margin-bottom: 11px;

    color: #333;
}

.main__posts p
{
    font-size: 1.0625rem;
    line-height: 1.3125rem;

    color: #333;
}

.main__posts .speedbar
{
    margin: 20px 0 40px;
}

.main__posts .speedbar a
{
    color: #333;
}

.main__posts-content
{
    max-width: 650px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-right: 20px;
}

.main__posts-content .post
{
    position: relative;
    z-index: 1;

    margin-bottom: 25px;

    border-radius: 9px;
    background: #fff;
}

.main__posts-content .post__link
{
    position: relative;

    display: block;
    overflow: hidden;

    height: 250px;
    margin-bottom: 20px;

    border-radius: 9px 9px 0 0;
}

.main__posts-content .post__link:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.53);
}

.main__posts-content .post h2
{
    font-size: 1.8125rem;
    font-weight: 400;
    line-height: 2rem;

    margin-top: 10px;
    margin-bottom: 20px;

    color: #fff;
}

.main__posts-content .post .post__header
{
    position: absolute;
    z-index: 2;
    bottom: 22px;

    padding: 0 50px;
}

.main__posts-content .post p
{
    font-size: 1.1875rem;
    font-weight: 300;
    line-height: 1.75rem;

    margin-bottom: 20px;
    padding: 0 50px;

    color: #333;
}

.main__posts-content .post span.category
{
    font-weight: 500;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #bfffc6;

    color: var(--silatourColor);
}

.main__posts-content .post img
{
    position: absolute;
}

.main__posts-aside
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    max-width: 300px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.main__books
{
    margin: 50px 0;

    background: #fff;
}

.main__books h2
{
    font-size: 3.5rem;

    margin-bottom: 50px;

    color: #333;
}

.main__books .flex
{
    flex-wrap: wrap;
}

.main .article-book
{
    width: 18%;
    margin-right: 20px;
    margin-bottom: 30px;
}

.main .article-book img
{
    max-height: 380px;
    margin-bottom: 10px;

    border-radius: 3px;
}

.main .article-book span
{
    color: #ccc;
}

.main .article-book h3
{
    color: #333;
}

.main-initial__tab
{
    display: none;
}

.main-initial__tab.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main__aside
{
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 35px;

    margin: auto;

    align-items: center;
}

.main__aside .icon
{
    width: 43px;
    height: 43px;
    margin-right: 12px;
    padding: 9px;

    opacity: .45;

    fill: #333;
}

.main__aside .aside-list__item
{
    margin-bottom: 20px;

    cursor: pointer;
    transition: .55s;

    align-items: center;
}

.main__aside .aside-list__item.active
{
    -webkit-transform: scale(1.18);
            transform: scale(1.18);
}

.main__aside .aside-list__item.active h6
{
    opacity: 1;
}

.main__aside .aside-list__item.active .icon
{
    opacity: 1;
    border: 1px dashed #333;
    border-radius: 50%;
}

.main__aside .aside-list__item.white .icon
{
    fill: #fff;
}

.main__aside .aside-list__item.white h6
{
    color: #fff;
}

.main__aside .aside-list__item.white:hover .icon,
.main__aside .aside-list__item.white:focus .icon
{
    border: 1px solid #fff;
}

.main__aside .aside-list__item.white.active .icon
{
    border: 1px dashed #fff;
}

.main__aside .aside-list__item:hover h6,
.main__aside .aside-list__item:focus h6
{
    opacity: 1;
}

.main__aside .aside-list__item:hover .icon,
.main__aside .aside-list__item:focus .icon
{
    opacity: 1;
    border: 1px solid #333;
    border-radius: 50%;
}

.main__aside h6
{
    font-size: 1rem;
    font-weight: 300;

    transition: .55s;

    opacity: .45;
    color: #333;
}

.main__initial-screen
{
    height: 100vh;

    justify-content: space-around;
    align-items: center;
}

.main__initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0,0,0,.58);
}

.main__initial-screen:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/main-transparent none repeat 0 0 / auto auto padding-box border-box scroll-bg.jpg') no-repeat;

    background: url('../images/main-initial-bg.jpg') no-repeat;
    background-size: cover;
}

.main__initial-screen .wrap
{
    position: absolute;
    z-index: 2;

    max-width: 780px;

    text-align: center;
}

.main__initial-screen h1
{
    font-size: 3.875rem;
    line-height: 3.5rem;

    color: #fff;
}

.main__initial-screen p
{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;

    margin: 27px 0;
    padding: 0 5%;

    color: #ccc;
}

.main__initial-screen p span
{
    background: rgba(0,0,0,.35);
}

.main__initial-screen .right-side
{
    z-index: 1;

    width: 100%;
    max-width: 24%;
    margin-top: 47%;
    padding-left: 20px;

    justify-content: flex-start;
    flex-wrap: wrap;
}

.main__initial-screen .right-side__heading
{
    align-items: start;
}

.main__initial-screen .right-side__heading .icon
{
    width: 20px;
    height: 20px;
    margin-right: 8px;

    fill: #ff4641;
}

.main__initial-screen .right-side h2
{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;

    margin-bottom: 15px;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #ff4641;
}

.initial-screen__form
{
    justify-content: center;
}

.initial-screen__form:hover .form__search,
.initial-screen__form:focus .form__search
{
    background: #fff;
}

.form__search
{
    font-size: 1.125rem;

    width: 70%;
    margin-right: 5px;
    padding: 15px;

    transition: .55s;

    background: rgba(255,255,255,.7);
}

.form__button
{
    display: none;
}

.form__button + label
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 17px 20px;

    background: #bfffc6;

    background: var(--silatourColor);

    align-items: center;
}

.form__button + label .icon
{
    width: 30px;
    height: 30px;

    fill: #333;
}

.category--country .initial-screen
{
    position: relative;
}

.category--country .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.63);
}

.category--country .initial-screen:after
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -1px;
    left: 0;

    height: 29%;

    content: '';

    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #fff, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));

    background: linear-gradient(to top, #fff, rgba(255,255,255,0));
}

.category--country .initial-screen img
{
    position: absolute;
}

.category--country .country-filter__section.container
{
    position: relative;
    z-index: 3;

    margin-top: -40px;
}

.category--country .country-filter__block
{
    overflow: hidden;

    margin: 0 10px;
    padding: 30px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.14);
}

.category--country .info
{
    position: relative;
    z-index: 3;

    padding: 10% 0 6%;

    text-align: center;
}

.category--country h1
{
    font-size: 6.25rem;
    font-weight: 800;
    line-height: 6.25rem;

    margin-bottom: 15px;

    letter-spacing: 0.4375rem;
    text-transform: uppercase;

    color: #fff;

    word-wrap: break-word;
}

.category--country p
{
    font: 1.3125rem/2.4375rem 'Qanelas-Regular';

    margin-bottom: 50px;

    color: #fff;
}

.category--country button
{
    font: 1.0625rem/0.9375rem 'Qanelas-Regular';

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 19px;

    color: #2f2f2f;
    border: 0;
    border-radius: 4px;
    background: #ffeb7c;
}

.category--country .container
{
    margin-top: 50px;
    padding: 0 340px;

    flex-wrap: wrap;
    justify-content: center;
}

.article-short-guidebook
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: calc(33% - 40px);
    margin: 0 10px 20px;

    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.article-short-guidebook a
{
    font-family: Qanelas;
}

.article-short-guidebook:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.55);
}

.article-short-guidebook:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 100px;
    margin: auto;

    content: '';
    transition: .55s;
    -webkit-transform: scale(0);
            transform: scale(0);

    opacity: 0;
    border-radius: 50%;
    background: rgba(0,0,0,.69);
}

.article-short-guidebook:hover:after,
.article-short-guidebook:focus:after
{
    -webkit-transform: scale(7);
            transform: scale(7);

    opacity: 1;
}

.article-short-guidebook img
{
    position: absolute;
}

.article-short-guidebook__header
{
    position: relative;
    z-index: 2;
    bottom: 0;

    padding: 160px 30px 50px;

    text-align: center;
}

.article-short-guidebook__header .icon
{
    position: relative;

    width: 45px;
    height: 45px;
}

.article-short-guidebook__header span
{
    font-size: 1.125rem;

    display: inline-block;

    margin: 4px;
    padding: 6px 11px;

    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}

.article-short-guidebook h3
{
    font-size: 1.5625rem;
    font-weight: 800;

    margin-bottom: 15px;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #fff;
}

.category--journal .initial-screen
{
    position: relative;
}

.category--journal .initial-screen:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.67);
}

.category--journal .initial-screen:after
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -4px;
    left: 0;

    height: 29%;

    content: '';

    background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(rgba(255,255,255,0)));

    background: -webkit-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: -o-linear-gradient(bottom, #f7f7f7, rgba(255,255,255,0));

    background: linear-gradient(to top, #f7f7f7, rgba(255,255,255,0));
}

.category--journal .initial-screen__img
{
    position: absolute;
}

.category--journal .initial-screen .info
{
    position: relative;
    z-index: 3;

    padding: 10% 9% 17%;
}

.category--journal .initial-screen h1
{
    font-size: 6.0625rem;
    font-weight: 700;

    margin-bottom: 17px;

    letter-spacing: 0.125rem;

    color: #fff;
}

.category--journal .initial-screen h1 span
{
    display: block;

    margin-left: 60px;

    color: #fff;
}

.main__journal
{
    position: relative;
    z-index: 4;

    overflow: hidden;

    margin-top: -210px;
}

.main__journal .headding
{
    margin-bottom: 16px;

    align-items: center;
}

.main__journal .headding .icon
{
    width: 25px;
    height: 25px;
    margin-right: 13px;

    fill: #ff4c47;
}

.main__journal h2
{
    font-size: 1.0625rem;
    font-weight: 400;

    letter-spacing: 0.25rem;
    text-transform: uppercase;

    color: #ff4c47;
}

.main__journal .container
{
    padding: 0 0 0 10%;
}

.category--reference-guide .reference-guide
{
    padding-top: 89px;

    background: #f7f7f7;

    justify-content: flex-start;
}

.category--reference-guide .reference-guide__aside
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    flex-direction: column;

    width: 400px;
    height: 100vh;
    padding: 50px;
    padding-left: 9%;

    justify-content: center;
}

.category--reference-guide .ref-guide__list-item a
{
    display: inline-block;

    margin: 10px 0;

    color: #333;
}

.article-posts
{
    position: relative;

    overflow: hidden;

    min-width: 300px;
    max-width: 100%;
    height: 440px;
    margin-right: 20px;
    margin-bottom: 20px;

    border-radius: 14px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.2);
}

.article-posts a
{
    font-family: Qanelas;
}

.article-posts a:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.55);
}

.article-posts a:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 100px;
    margin: auto;

    content: '';
    transition: .55s;
    -webkit-transform: scale(0);
            transform: scale(0);

    opacity: 0;
    border-radius: 50%;
    background: rgba(0,0,0,.69);
}

.article-posts a:hover:after,
.article-posts a:focus:after
{
    -webkit-transform: scale(7);
            transform: scale(7);

    opacity: 1;
}

.article-posts__header
{
    position: absolute;
    z-index: 2;
    top: 0;

    padding: 40px 35px;
}

.article-posts__categeory
{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.25rem;

    width: -webkit-min-content;

    width: -moz-min-content;

    width: min-content;
    margin-bottom: 8px;

    text-transform: uppercase;

    color: #fff;
}

.article-posts__categeory span
{
    font-weight: 800;
}

.article-posts__views
{
    font-size: 1rem;
    font-weight: 200;

    color: #fff;

    align-items: center;
}

.article-posts__views span
{
    margin-right: 8px;
}

.article-posts__views .icon
{
    width: 25px;
    height: 25px;

    fill: #fff;
}

.article-posts__footer
{
    position: absolute;
    z-index: 2;
    bottom: 0;

    padding: 0 35px 50px;
}

.article-posts h3
{
    font-size: 1.4375rem;
    font-weight: 300;
    line-height: 1.5rem;

    color: #fff;
}

.article-posts.article-posts--popular
{
    height: 285px;
}

.article-posts.article-posts--popular:hover .article-posts__footer,
.article-posts.article-posts--popular:focus .article-posts__footer
{
    background: #fff;
}

.article-posts.article-posts--popular .article-posts__categeory
{
    font-size: 1.125rem;

    margin-bottom: 2px;
}

.article-posts.article-posts--popular .article-posts__views
{
    font-size: 1.0625rem;
}

.article-posts.article-posts--popular .article-posts__footer
{
    width: 100%;
    padding: 25px;

    transition: .55s;

    background: rgba(255,255,255,.9);
}

.article-posts.article-posts--popular .article-posts__footer h3
{
    font-size: 1.25rem;

    color: #333;
}

.related
{
    justify-content: center;
}

.related .article-posts
{
    width: 300px;
    margin: 0 10px;
}

.related .article-related
{
    margin: 0 10px;
}

.article-related
{
    position: relative;

    overflow: hidden;

    width: 290px;
    height: 390px;

    border-radius: 5px;
}

.article-related a:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(54,53,21,.55);
}

.article-related__category
{
    margin-bottom: 7px;
}

.article-related__category span
{
    font-size: 0.8125rem;
    font-weight: 300;

    letter-spacing: 0.1875rem;
    text-transform: uppercase;

    color: #fff;
}

.article-related__header
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: -webkit-max-content;

    height: -moz-max-content;

    height: max-content;
    max-height: 50px;
    margin: auto;
    padding: 50px 20px 0;

    text-align: center;
}

.article-related h3
{
    font: 600 1.3125rem/1.5rem Qanelas;

    color: #fff;
}

.night
{
    --lightMode: #fff;
}

.night .header .logotype
{
    color: #fff;
}

.night .header.fixed
{
    background: #262e45;
    background: var(--lightNight);
}

.night .header.fixed .logotype
{
    color: #fff;
}

.night .header.fixed .header__left-side .header__menu-item a
{
    color: #fff;
}

.night .info-country .left-side
{
    background: #262e45;
    background: var(--lightNight);
}

.night .geo-country .right-side
{
    background: #262e45;
    background: var(--lightNight);
}

.night .fullstory
{
    background: #151a30;
    background: var(--darkNight);
}

.night .fullstory .initial-screen:before
{
    background: rgba(38,46,69,.63);
}

.night .fullstory .initial-screen:after
{
    background: -webkit-gradient(linear, left bottom, left top, from(var(--darkNight)), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, var(--darkNight), rgba(255,255,255,0));
    background: -o-linear-gradient(bottom, var(--darkNight), rgba(255,255,255,0));
    background: linear-gradient(to top, #151a30, rgba(255,255,255,0));
    background: linear-gradient(to top, var(--darkNight), rgba(255,255,255,0));
}

.night .fullstory__content
{
    background: #262e45;
    background: var(--lightNight);
}

.night .fullstory__content p,
.night .fullstory__content a,
.night .fullstory__content span,
.night .fullstory__content h2,
.night .fullstory__content h3,
.night .fullstory__content h4,
.night .fullstory__content h5,
.night .fullstory__content h6
{
    color: #f3f3f3;
}

.night .section h2,
.night .section p,
.night .section a,
.night .section .left-line span
{
    color: #f3f3f3;
}

.night .section .left-line hr
{
    background: #f3f3f3;
}

.night .midle-side
{
    background: #151a30;
    background: var(--darkNight);
}

.night .country-page .initial-screen:before
{
    background: rgba(38,46,69,.63);
}

.night .country-page .initial-screen:after
{
    background: -webkit-gradient(linear, left bottom, left top, from(var(--lightNight)), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, var(--lightNight), rgba(255,255,255,0));
    background: -o-linear-gradient(bottom, var(--lightNight), rgba(255,255,255,0));
    background: linear-gradient(to top, #262e45, rgba(255,255,255,0));
    background: linear-gradient(to top, var(--lightNight), rgba(255,255,255,0));
}

.night .posts-aside__block
{
    background: #262e45;
    background: var(--lightNight);
}

.night .nav-list__item a
{
    color: #f3f3f3;
}

.night .section--articles
{
    background: #151a30;
    background: var(--darkNight);
}

.night .climate-country,
.night .geografy-country
{
    background: #262e45;
    background: var(--lightNight);
}

.full-content:-webkit-full-screen
{
    overflow-y: scroll;
}

.full-content:-moz-full-screen
{
    overflow-y: scroll;
}

.full-content:-ms-fullscreen
{
    overflow-y: scroll;
}

.full-content:fullscreen
{
    overflow-y: scroll;
}

.full-content:-webkit-full-screen img
{
    grid-column: 6/12;
}

.full-content:-moz-full-screen img
{
    grid-column: 6/12;
}

.full-content:-ms-fullscreen img
{
    grid-column: 6/12;
}

.full-content:fullscreen img
{
    grid-column: 6/12;
}

.full-content:-webkit-full-screen p
{
    grid-column: 6/12;
}

.full-content:-moz-full-screen p
{
    grid-column: 6/12;
}

.full-content:-ms-fullscreen p
{
    grid-column: 6/12;
}

.full-content:fullscreen p
{
    grid-column: 6/12;
}

.full-content:-webkit-full-screen h2
{
    grid-column: 6/12;
}

.full-content:-moz-full-screen h2
{
    grid-column: 6/12;
}

.full-content:-ms-fullscreen h2
{
    grid-column: 6/12;
}

.full-content:fullscreen h2
{
    grid-column: 6/12;
}

.full-content:-webkit-full-screen .quote
{
    grid-column: 6/12;
}

.full-content:-moz-full-screen .quote
{
    grid-column: 6/12;
}

.full-content:-ms-fullscreen .quote
{
    grid-column: 6/12;
}

.full-content:fullscreen .quote
{
    grid-column: 6/12;
}

@media (max-width: 1440px)
{
    .header .header__left-side .header__menu
    {
        flex-wrap: wrap;
    }

    .fullstory__left-side .wrap
    {
        grid-column: 4/15;
    }

    .fullstory__right-side .wrap
    {
        grid-column: 4/13;
    }
}
