.category--reference-guide
  .reference-guide
    justify-content flex-start
    padding-top 89px
    background #f7f7f7
  .reference-guide__aside
    width 400px
    padding 50px
    padding-left 9%
    position sticky
    top 0
    height 100vh
    justify-content center
    flex-direction column
  .ref-guide__list-item
    a
      color #333
      display inline-block
      margin 10px 0
