.post__header-infos
  align-items center
  margin-right 20px
  span
    color #fff
    font-weight 200
    font-size 17px
  .icon
    width 25px
    height 25px
    margin-right 10px
    fill #fff


.aside
  transition .33s
.posts-aside__block
  width 300px
  padding 25px
  background #fff
  margin-bottom 25px
  border-radius 5px
.block-tags
  margin-top 13px
  a
    display inline-block
    color #333
    border 1px solid #333
    margin-right 6px
    margin-bottom 6px
    padding 8px 13px
    border-radius: 2px
h6
  color #b7b7b7
  font-size 17px
  font-weight 300
  margin-bottom 5px
.nav-list__item
  a
    display inline-block
    padding 18px 0
    border-bottom 1px solid #e6e6e6
    color #4d4d4d
    font-size 18px
    font-weight 400
    width 100%
  &:last-child
    a
      border-bottom 0

.main

  &__posts
    background #f7f7f7
    padding-top 115px
    h1
      color #333
      font-size 36px
      margin-bottom 11px
    p
      color #333
      font-size 17px
      line-height 21px
    .speedbar
      margin 20px 0 40px
      a
        color #333
    &-content
      height max-content
      max-width 650px
      margin-right 20px
      .post
        background #fff
        margin-bottom 25px
        position relative
        z-index 1
        border-radius 9px
        &__link
          position: relative;
          height: 250px;
          display: block;
          margin-bottom: 20px;
          border-radius: 9px 9px 0 0;
          overflow hidden
          &:before
            content ''
            position absolute
            left 0
            right 0
            top 0
            bottom 0
            background rgba(54,53,21,.53)
            z-index 1
        h2
          font-size 29px
          line-height 32px
          font-weight 400
          margin-bottom 20px
          margin-top 10px
          color #fff

        .post__header
          position: absolute;
          padding 0 50px
          bottom: 22px;
          z-index 2
        p
          font-size 19px
          line-height 28px
          color #333
          font-weight 300
          padding 0 50px
          margin-bottom 20px
        span

          &.category
            text-transform uppercase
            color var(--silatourColor)
            letter-spacing 2px
            font-weight 500
        img
          position: absolute;

    &-aside
      position sticky
      top 0
      width 100%
      max-width 300px
      height max-content



  &__books
    background #fff
    margin 50px 0
    h2
      margin-bottom 50px
      font-size 56px
      color #333
    .flex
      flex-wrap wrap
  



  &-initial__tab
    display none
    &.active
      display flex

  &__aside
    position fixed
    left 35px
    top 0
    bottom 0
    margin auto
    align-items center
    z-index 2
    .icon
      width 43px
      height 43px
      padding 9px
      margin-right 12px
      opacity .45
      fill #333
    .aside-list__item
      align-items center
      margin-bottom 20px
      cursor pointer
      transition .55s
      &.active
        transform scale(1.18)
        h6
          opacity 1
        .icon
          border 1px dashed #333
          border-radius 50%
          opacity 1
      &.white
        .icon
          fill #fff
        h6
          color #fff
        &:hover
          .icon
            border 1px solid #fff
        &.active
          .icon
            border 1px dashed #fff
      &:hover
        h6
          opacity 1
        .icon
          border 1px solid #333
          border-radius 50%
          opacity 1
    h6
      font-size 16px
      font-weight 300
      color #333
      opacity .45
      transition .55s


  &__initial-screen
    justify-content space-around
    height 100vh
    align-items center
    &:before
      content ''
      background rgba(0, 0, 0, 0.58)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
    &:after
      content ''
      position absolute
      background url(../images/main-initial-bg.jpg) no-repeat
      background-size: cover;
      top 0
      left 0
      right 0
      bottom 0
    .wrap
      position absolute
      z-index 2
      max-width 780px
      text-align center
    h1
      font-size 62px
      color #fff
      line-height 56px
    p
      margin 27px 0
      font-size 20px
      font-weight 300
      line-height 28px
      padding 0 5%
      color #ccc
      span
        background rgba(0,0,0, .35)

    .right-side
      max-width 24%
      margin-top 47%
      width 100%
      z-index 1
      padding-left 20px
      justify-content flex-start
      flex-wrap wrap
      &__heading
        align-items start
        .icon
          fill #ff4641
          width 20px
          height 20px
          margin-right 8px
      h2
        color #ff4641
        font-weight 400
        text-transform uppercase
        margin-bottom 15px
        line-height 20px
        font-size 20px
        letter-spacing 2px


.initial-screen__form
  justify-content center
  &:hover
    .form__search
      background #fff
.form__search
  padding 15px
  margin-right 5px
  width 70%
  background rgba(255,255,255, .7)
  transition .55s
  font-size 18px
.form__button
  display none
  + label
    background var(--silatourColor)
    display flex
    align-items center
    padding 17px 20px
    .icon
      fill #333
      width 30px
      height 30px
