.ref-guide__page
  width calc(100% - 400px)
  .content
    width calc(100% - 300px)
  aside
    width 300px
    margin-right 35px
    padding 0
    position sticky
    top 0
    height max-content
    margin-top 30px
    article
      max-width 100%
  .initial-screen
    overflow hidden
    border-radius 55px 0 0 0
    position relative
    &:before
      content ''
      background rgba(54, 53, 21, 0.68)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
    .wallpaper
      position absolute
    .info
      position relative
      z-index 2
      padding 7%
      max-width 1280px
      .button
        background #ffeb7c
        color #2f2f2f
        font-size 17px
        line-height 15px
        border 0
        padding 15px 19px
        display inline-block
        margin-right 10px
        border-radius 4px
        font-family 'Qanelas-Regular'
        margin-bottom 10px
    h1
      font-size 38px
      color #fff
      margin-top 10px
      margin-bottom 25px

.table-phrasebook
  color #5c5c5c
  margin-right 15px
  padding 5% 10%
  margin 27px 0
  background #fff
  h2
    text-align center
    color #333
    font-size 33px
    margin-bottom 30px
  table
    border-collapse collapse
    border-spacing 0px
    width 100%
  th
    text-align left
    background #42c6ac
    color #fff
    padding 15px 25px
  td
    padding 15px 25px
    background #fff
    border 1px solid #ebebeb
    font-size 17px
    line-height 25px
    font-weight 400
#greeting
  border-left 5px solid #F2C94C
  th
    background #F2C94C
  tr
    &:hover
        td
          background #F2C94C
          color #fff
#standard_phrase
  border-left 5px solid #c94b4b
  th
    background #c94b4b
  tr
    &:hover
        td
          background #c94b4b
          color #fff
#phrases_station
  border-left 5px solid #81cc7f
  th
    background #81cc7f
  tr
    &:hover
        td
          background #81cc7f
          color #fff
#phrases_city
  border-left 5px solid #41295a
  th
    background #41295a
  tr
    &:hover
        td
          background #41295a
          color #fff
#phrases_hotel
  border-left 5px solid #67B26F
  th
    background #67B26F
  tr
    &:hover
        td
          background #67B26F
          color #fff
#phrases_restaurant
  border-left 5px solid #67B26F
  th
    background #67B26F
  tr
    &:hover
        td
          background #67B26F
          color #fff
