@media (max-width 1440px)
  .header
    .header__left-side
      .header__menu
        flex-wrap wrap
  
  .fullstory
    &__left-side
      .wrap
        grid-column 4/15
    &__right-side
      .wrap
        grid-column 4/13
