.fullstory
  .initial-screen
    position relative
    &:hover
      img
        filter blur(2px)
    &__info
      position: relative;
      z-index: 1;
      padding: 17% 0
      max-width: 950px;
      text-align: left;
      margin 0 auto
    &:before
      content ''
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background rgba(54,53,21,.67)
      z-index 1
    &:after
      content ''
      position absolute
      left 0
      right 0
      bottom -4px
      height 29%
      background linear-gradient(to top, rgba(255,255,255, 1), rgba(255,255,255, 0) )
      z-index 1
    img
      position absolute
      transition .55s
    .category
      text-transform uppercase
      color var(--silatourColor)
      font-size 20px
      letter-spacing 3px
      font-weight 500
      margin-bottom 20px
    h1
      font-size 60px
      color #fff
      margin-bottom: 40px;
      margin-top 20px
      line-height 70px
      margin-right: 100px
      position relative
    .speedbar
      margin-top 90px
  &__content
    background #fff
    max-width: 650px;
    border-radius: 0;
    position relative
    z-index 1
    border-radius: 5px;
    padding 50px
    p,a
      font-size 19px
      line-height 28px
      color #333
      font-weight 300
      margin-bottom 20px
    h2
      font-size 34px
      color #333
      margin-top 30px
      margin-bottom 10px
      line-height 42px
    img
      margin-bottom 15px
      border-radius: 3px;

.fullstory__aside
  position sticky
  top 0
  height max-height
  width 100%
  max-width 300px
  .article-short-guidebook
    max-width: 100%;
    border-radius 0
    border-radius: 5px;

.fullstory__container
  max-width: 950px;
  margin: -200px auto;
  z-index: 1;
  position: relative;
  align-items: flex-start;
