.header
  position absolute
  z-index 9
  padding 15px 5%
  width 100%
  justify-content space-between
  &:hover
    .header__navigation,
    .header__right-side
      opacity 1
  &__left-side
    align-items center
    .header__menu
      &-item
        font-weight 300
        font-size 18px
        a
          color var(--lightMode)
          border-radius 50px
          border 1px solid
          padding 11px 18px
          display block
          margin 0 12px 0 0
  &__right-side
    opacity .4
    transition .55s
    align-items center
    justify-content flex-end
    .icon
      height 17px
      width: 17px
      fill #333
      margin-right 8px
    button
      border-radius 50px
      background 0
      color #333
      padding 10px 25px
      border 1px solid
      margin-left 12px
      align-items center
    label
      border-radius 50px
      border 1px solid #333
      width 90px
      height 45px
      cursor pointer
      margin-right 10px
      &:before
        content ''
        height 45px
        transform translateX(-10px)
        width 45px
        background #ffeb7c
        border-radius 50%
        display block
        transition .55s
  input
    display none
    &:checked + label
        &:before
          transform translateX(55px)
          background #fff
  .header__navigation
    margin-left 94px
    opacity .4
    transition .55s
  .logotype
    font-family Debby
    color var(--lightMode)
    font-size 68px
