.category--journal
  .initial-screen
    position relative
    &:before
      content ''
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background rgba(54,53,21,.67)
      z-index 1
    &:after
      content ''
      position absolute
      left 0
      right 0
      bottom -4px
      height 29%
      background linear-gradient(to top, #f7f7f7, rgba(255,255,255, 0) )
      z-index 1
    &__img
      position absolute
    .info
      position relative
      padding 10% 9% 17%
      z-index 3
    h1
      color #fff
      font-size 97px
      font-weight 700
      letter-spacing 2px
      margin-bottom 17px
      span
        color #fff
        display block
        margin-left 60px

.main
  &__journal
    overflow hidden
    position relative
    margin-top -210px
    z-index 4
    .headding
      align-items center
      margin-bottom 16px
      .icon
        width 25px
        height 25px
        margin-right 13px
        fill #ff4c47
    h2
      font-size 17px
      color #ff4c47
      font-weight 400
      letter-spacing 4px
      text-transform uppercase
    .container
      padding 0 0 0 10%
    .article-posts
      margin-right 20px
      max-width: 100%;
      min-width: 300px;
      height: 440px;
      border-radius 14px
      h3
        font-size 23px
    .article-posts__categeory
      font-size 24px
