.night
  --lightMode #fff
  .header
    .logotype
      color #fff
    &__left-side
      .header__menu-item
        a
          color #fff
    &__right-side
      .icon
        fill #fff
      button
        color #fff
      label
        border 1px solid #fff
  // .fullstory
  //   &__left-side
  //     background rgba(18,18,18,.7)
  //     .button
  //       background 0
  //       border 1px solid
  //       color var(--colorYellow)
  //       .icon
  //         fill gray(30)
  //       &__icon
  //         background var(--colorYellow)
  //     .wrap
  //       h1,p
  //         color #fff
  //   &__right-side
  //     background rgba(18, 18, 18, 0.6)
  //   &__content
  //     background #121212
  //     .full-content
  //       background #121212
  //     h2,p
  //       color #fff
  //
  //
  // .video-info
  //   &:before
  //     background linear-gradient(to right, rgba(0,0,0,.88) 35%, rgba(51,51,51,.5) 65%)
  // .video-page
  //   .initial-screen
  //     h1,p
  //       color #fff
  // .all-video
  //   background linear-gradient(to top,#000 80%,rgba(0,0,0,0))
  //
  // .video-short
  //   h4
  //     color #fff
