.night
  --lightMode #fff
  .header
    .logotype
      color #ffffff
    &.fixed
      background var(--lightNight)
      .logotype
        color #ffffff
      .header__left-side
        .header__menu-item a
          color: #ffffff
  .info-country
    .left-side
      background var(--lightNight)
  .geo-country
    .right-side
      background var(--lightNight)
  .fullstory
    background var(--darkNight)
    .initial-screen
      &:before
        background rgba(38, 46, 69, .63)
      &:after
        background linear-gradient(to top, var(--darkNight), rgba(255,255,255, 0) )

  .fullstory__content
    background var(--lightNight)
    p,a,span,h2,h3,h4,h5,h6
      color #f3f3f3
  .section
    h2,p,a,.left-line span
      color #f3f3f3
    .left-line hr
      background #f3f3f3
  .midle-side
    background var(--darkNight)
  .country-page
    .initial-screen
      &:before
        background rgba(38, 46, 69, .63)
      &:after
        background linear-gradient(to top, var(--lightNight), rgba(255,255,255, 0) )
  .posts-aside__block
    background var(--lightNight)
  .nav-list__item
    a
      color #f3f3f3
  .section--articles
    background var(--darkNight)
  .climate-country, .geografy-country
    background var(--lightNight)
