footer.footer.flex
  ul.footer__list-info.flex
    li
      a(href="page__documents.html") Соглашение
    li
      a(href="page__documents.html") Конфиденциальность
    li
      a(href="page__documents.html") Правила
    li
      a(href="page__documents.html") Помощь
    li
      a(href="page__documents.html") Написать нам
  span.footer__cpr © 2016 – 2019, Силатур

script(src="https://api-maps.yandex.ru/2.1/?apikey=83385694-f49d-42b0-83b2-96efafebd660&lang=ru_RU")
script(src="https://yastatic.net/share2/share.js")
script(src="js/lib.min.js")
