footer.footer.flex
  ul.footer__list-info.flex
    li
      a(href="page__documents.html") Соглашение
    li
      a(href="page__documents.html") Конфиденциальность
    li
      a(href="page__documents.html") Правила
    li
      a(href="page__documents.html") Помощь
    li
      a(href="page__documents.html") Написать нам
  span.footer__cpr © 2016 – 2019, Силатур
script(src="js/lib.min.js")
