include mixins.pug
header.header.flex
  .header__left-side.flex
    a(href='index.html').logotype Силатур
    nav.header__navigation
      ul.header__menu.flex
        li.header__menu-item
          a(href='category__country.html') Путеводители
        li.header__menu-item
          a(href='category__journal.html') Журнал
        li.header__menu-item
          a(href='category__reference-guide.html') Справочная
        li.header__menu-item
          a(href='travel-tip-page.html') Еще

  .header__right-side.flex
      input(id='light-mode' type='checkbox' )
      label(for='light-mode')
      button.flex
        +icon('menu')
        span Сервисы
      button.flex
        +icon('login')
        span Войти 
    
