mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)

mixin video-short
  article.video-short
    .video-short__preview
      img(src='images/video-short-1.jpg' alt='')
      span.video-time 22:35
    h4 Невероятная поездка в Германию
    
mixin article-short-guidebook(title)
  article.article-short-guidebook
    a(href='country-page.html' onclick="return false")
      img(src='images/norvigia-country.jpg' alt='').article-short-guidebook__img            
      header.article-short-guidebook__header
        img(src='images/svg/flags/norway-flag.svg' alt='').icon
        h3= title
        span Америка
        span Виза требуется 
        
mixin article-posts
  article.article-posts
    a(href='fullstory.html')
      img(src='images/full-content-1.jpg' alt='')
      header.article-posts__header
        .article-posts__categeory Куда 
          span поехать
        .article-posts__views.flex
          span 1283
          +icon('visibility')
      footer.article-posts__footer
        h3 2 авиабелета в германию туда-сюда за 999 руб 
