mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)

mixin video-short
  article.video-short
    .video-short__preview
      img(src='images/video-short-1.jpg' alt='')
      span.video-time 22:35
    h4 Невероятная поездка в Германию
    
mixin article-short-guidebook(title)
  article.article-short-guidebook
    a(href='country-page.html' onclick="return false")
      img(src='images/norvigia-country.jpg' alt='').article-short-guidebook__img            
      header.article-short-guidebook__header
        img(src='images/svg/flags/norway-flag.svg' alt='').icon
        h3= title
        span Америка
        span Виза требуется 
        
mixin article-posts
  article.article-posts
    a(href='fullstory.html')
      img(src='images/full-content-1.jpg' alt='')
      header.article-posts__header
        .article-posts__categeory Куда 
          span поехать
        .article-posts__views.flex
          span 1283
          +icon('visibility')
      footer.article-posts__footer
        h3 2 авиабелета в германию туда-сюда за 999 руб 


mixin article-book
  article.article-book
    a(href='book-page.html')
      img(src="images/book-img.jpg" alt='')
      span Книга
      h3 Путеводитель по грузии
      
mixin main-post
  .post
    a(href='fullstory.html')
      img(src='images/fullstory-wallpaper.jpg' alt='')
      header.post__header
        span.category Куда поехать
        h2 7 самых интересных городов Германии
      
    p Предвкушая увлекательный перелет в страну, выбранную для отпуска, многие туристы иной раз не знают об определенных правилах перевозки багажа.      
    p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
    .quote
      p Местные «жрецы любви» работают преимущественно в клубах, при этом многие из них – это студенты, для которых подобная деятельность является неплохим приработком.
    p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
