mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)

mixin video-short
  article.video-short
    .video-short__preview
      img(src='images/video-short-1.jpg' alt='')
      span.video-time 22:35
    h4 Невероятная поездка в Германию
    
mixin article-short-guidebook(title)
  article.article-short-guidebook
    a(href='country-page.html' onclick="return false")
      img(src='images/norvigia-country.jpg' alt='').article-short-guidebook__img            
      header.article-short-guidebook__header
        img(src='images/svg/flags/norway-flag.svg' alt='').icon
        h3= title
        span Америка
        span Виза требуется 
        
