doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Правила провоза багажа в самолете
  body
    include inc/header.pug
    main.main.category.category--journal
        .speedbar
          span 
            a(href='#') Главная
            |&nbsp;&nbsp;‒&nbsp;&nbsp; 
          span
            a(href='#') Журнал
            |&nbsp;&nbsp;‒&nbsp;&nbsp;
          span
            a(href='#') Советы
            |&nbsp;&nbsp;‒&nbsp;&nbsp; 
          span Правила провоза багажа в самолете 
        .initial-screen
            img(src="images/journal-category.jpg" alt='').initial-screen__img
            .info
              h1 Журнал 
                span о путешествиях

        .main__journal
          .container
            .headding.flex
              +icon('fire')
              h2 Популярное из журнала 
            .flex
              +article-posts
              +article-posts
              +article-posts
              +article-posts
              +article-posts
        .main__books
          .container
            h2 Книги и фильмы вам в помощь
            .flex
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book
              +article-book

      
    include inc/footer.pug

            
            
