doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Правила провоза багажа в самолете
  body
    include inc/header.pug
    main.main.category.category--country.grid
      .speedbar
        span 
          a(href='#') Главная
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span
          a(href='#') Журнал
          |&nbsp;&nbsp;‒&nbsp;&nbsp;
        span
          a(href='#') Советы
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span Правила провоза багажа в самолете 
      .initial-screen
        img(src='images/norvigia-country.jpg' alt='').initial-screen__img
        .info
          h1 Страны 
          
      section.country-filter__section.flex.container
        .country-filter__block
          h6 Визовый режим 
        .country-filter__block
          h6 Где находится
        .country-filter__block
          h6 Чем заняться 
        .country-filter__block
          h6 Любое время
      .container.flex
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        +article-short-guidebook('Норвегия')
        .navigation
          a(href='#')
            +icon('slim-left','left')
          a(href='#') 1
          span 2
          a(href='#') 3
          a(href='#') 4
          a(href='#')
            +icon('slim-left','right')

      
    include inc/footer.pug

            
            
