doctype html
html(lang='ru')
  head
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.css')
    title Правила провоза багажа в самолете
  body
    include inc/header.pug
    main.main.grid
      .speedbar
        span 
          a(href='#') Главная
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span
          a(href='#') Журнал
          |&nbsp;&nbsp;‒&nbsp;&nbsp;
        span
          a(href='#') Советы
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span Правила провоза багажа в самолете 
      article.country-page
        .initial-screen
          img(src='images/norvigia-country.jpg' alt='')
          .container.flex
            .initial-screen__info
              .mini-info
                +icon('norway-flag')
                a(href='#') Европа
                a(href='#') Шенген
              h1 Норвегия
              p Могущественные горы, потрясающей красоты фьорды и богатые рыбой горные реки
              .buttons.flex
                button Как добраться
                button Визы и паспорта
                button Бюджет поездки
                button Перед поездкой
                button Преступность и безопасность
            .initial-screen__map
              +icon('norway-map')
        section.section.info-country
          .flex
            .left-side.flex
              .left-line.flex
                span 01
                hr
                span 03
              .infos
                h2 Описание
                p Норвегия - удивительная страна: это не просто северный край викингов и фьордов, но и европейское государство с уютными городами и приветливыми жителями. Если вы любите величественные пейзажи, снежные вершины и мечтаете отдохнуть душой и телом, то Норвегия идеальный вариант для вас. Здесь нет палящего южного солнца, тёплого океана и белых песчаных пляжей, но природа наградила этот уголок планеты могущественными горами, потрясающей красоты фьордами и богатыми рыбой горными реками. 
                p Каждый гость страны найдет в Норвегии что-то для себя. Здесь можно поселиться в фешенебельных или более скромных семейных отелях, в домиках на горнолыжных курортах и даже уникальных ледяных гостиницах. Любители культурного отдыха по достоинству оценят большое количество разнообразных музеев и экскурсионных программ. Чем же еще Норвегия привлекает туристов?
            .midle-side
              ul
                li
                  h6 Названия жителей 
                  p норвежец, норвежка, норвежцы 
                li
                  h6 Территория
                  p 385 186 км² 
                li
                  h6 Население
                  p 5 063 709 чел. 
                li
                  h6 Код ISO
                  p NO
                li
                  h6 Код МОК
                  p NOR 
                li
                  h6 Столица
                  p Осло 
                li
                  h6 Валюта
                  p Норвежская крона  
                li
                  h6 Штрих-код страны
                  p 700-709
                li
                  h6 Форма правления
                  p Конституционная монархия
                li
                  h6 Религия
                  p Лютеранство
                li
                  h6 Телефонный код
                  p +47 
                li
                  h6 Часовой пояс
                  p UTC+1
                li
                  h6 ВВП
                  p $335,3 млрд 
                li
                  h6 ИЧР
                  p 0,948 
            .right-side
              img(src='images/norway-guidebook-1.jpg' alt='')
        section.section.articles
          article.article-news
            img(src='images/norway-guidebook-2.jpg' alt='')
            .inforus
              h3 Куда сходить, если вы вдруг оказались в Осло?
              p Осло - это столица Норвегии с красивыми пляжами и парками, архитектурой 19-го века и прекрасными рыбными ресторанами. Осло находится всего в нескольких минутах езды от гор, где можно гулять летом и кататься на лыжах зимой. Итак, что же посетить в Осло, чтобы остались незабываемые впечатления?
              a(href='') Читать статью
        section.section.geo-country
          .flex
            .left-side
              img(src='images/static-maps.yandex.png' alt='')
              
            .right-side
              .left-line.flex
                span 02
                hr
                span 03
              .infos
                h2 География
                p Государство располагается в северной и западной областях Скандинавского полуострова, а также включает в состав архипелаг Шпицберген. Оно омывается Норвежским морем, водами Атлантического и Северного Ледовитого океанов. Кроме того, здесь расположено около ста пятидесяти тысяч озер. Если считать территории всех относящихся к государству островов (а их около пятидесяти тысяч), площадь страны составляет 385 186 квадратных метров. Норвегия граничит с Россией (в Мурманской области), Финляндией и Швецией. В этой стране находится мыс Нордкин, являющийся самой северной точкой континентальной Европы.
                p Рельеф страны представлен возвышенными плато, глубокими долинами и несколькими ледниками (к ним относится и Юстедальсбреен - самый крупный ледник Европы). Также Норвегия отличается большим количеством горных цепей (по этому показателю она значительно превосходит многие государства Старого света). На западном побережье страны вы сможете найти множество фьордов (узких морских заливов со скалистыми берегами). Самые знаменитые и посещаемые среди них - Вестфьорд, Гейрангер-фьорд, Согне-фьорд, Тронхеймс-фьорд, и Хардангер-фьорд.
                p В северо-восточной части Норвегии, дальше Полярного круга, ландшафт в основном характеризуется как арктическая тундра. Из-за короткого вегетационного периода там практически нет растительности. Южная и центральная части страны представляю собой плато, плавно спускающееся к региону Тренделаг. Это холмистый район с плодородной почвой. Юго-восточная часть страны в основном представляет собой низменности.
                h2 Климат
                p Несмотря на то, что страна находится в той же широте, что из Сибирь, Гренландия и Аляска, можно сказать, что здешний климат гораздо мягче. Самые холодные месяцы - это январь и февраль, в этом время средняя температура варьируется от -17 (на севере страны) до +2 градусов по Цельсию (в южной части). Теплее всего в июле: в Осло обычно бывает до +17, а на севере - до +7 градусов по Цельсию.
                p Что касается осадков, то самые сухие периоды - это март, апрель и май. В среднем за месяц в это время выпадает от 30 до 50 мм, общее количество дней с осадками колеблется от 11 до 15. В прочие сезоны может выпадать от 80 до 100 мм в месяц, суммарное число дней с осадками - 16-17.
                p В целом погода в этой стране отличается изменчивостью. Туман может смениться солнцем, за которым последуют дождь и порывистый ветер, после чего вновь станет ясно. Аборигены шутят, что если кому-то не нравится погода в их стране, то нужно всего лишь подождать пятнадцать минут.
    include inc/footer.pug
    script
      include scripts/country-page.js
      include scripts/light-mode.js
            
            
