doctype html
html(lang='ru')
  head
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.css')
    title 7 самых интересных городов Германии, которые должен посетить каждый
  body
    include inc/header.pug
    main.main.grid
      .speedbar
        span 
          a(href='#') Главная
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span
          a(href='#') Журнал
          |&nbsp;&nbsp;‒&nbsp;&nbsp;
        span
          a(href='#') Куда поехать
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span 5 способов интересно провести время в Брюсселе
      article.article
        .initial-screen
          .fullstory.grid
            img(src='images/fullstory-wallpaper.jpg' alt='')
            .fullstory__left-side
              .wrap
                h1 7 самых интересных городов Германии
                .travel-buttons
                  button.button.flex
                    span.button__icon
                      +icon('plane')
                    span Найти Авиабилеты
                  button.button.flex
                    span.button__icon
                      +icon('bed')
                    span Найти Отели
                p Германия  — это страна красивых замков, качественных автомобилей, вкусного пива, горнолыжных склонов и термальных источников. Туризм в этой стране хоть и не является основным источников дохода, но для туристов здесь настоящее раздолье: каждый город Германии, каждый его регион уникальны и неповторимы. Вот главные туристические города для отдыха в Германии:
            .fullstory__right-side
              .wrap
                button.close
                  +icon('cancel')
                button.expand
                  +icon('expand')
                .article-info
                  h6 Куда 
                    span поехать
                  ul
                    li.info__item 
                      +icon('calendar')
                      span 28 апреля 2018
                    li.info__item 
                      +icon('eye')
                      span 1 372 Просмотра
                    li.info__item 
                      +icon('clock')
                      span Читается за 3 минуты
                    li.info__item 
                      +icon('placeholder')
                      a(href='#')
                        span Германия
        .fullstory__content.grid
          .full-content
            h2 Берлин
            img(src='images/full-content-1.jpg' alt='')
            p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
            .quote
              p Местные «жрецы любви» работают преимущественно в клубах, при этом многие из них – это студенты, для которых подобная деятельность является неплохим приработком.
            p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
            h2 Мюнхен
            img(src='images/full-content-2.jpg' alt='')
            p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
            h2 Берлин
            img(src='images/full-content-1.jpg' alt='')
            p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
            h2 Мюнхен
            img(src='images/full-content-2.jpg' alt='')
            .quote
              p Местные «жрецы любви» работают преимущественно в клубах, при этом многие из них – это студенты, для которых подобная деятельность является неплохим приработком.
            p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
            h2 Берлин
            img(src='images/full-content-1.jpg' alt='')
            p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
            h2 Мюнхен
            img(src='images/full-content-2.jpg' alt='')
            p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
          aside
            .article-aside
              nav.aside__navigation
                h2 Журнал
                ul.navigation__menu
                  li.menu__item
                    a(href='#') Куда поехать
                  li.menu__item.active
                    a(href='#') Что посмотреть
                  li.menu__item
                    a(href='#') Советы
                  li.menu__item
                    a(href='#') Факты
                  li.menu__item
                    a(href='#') Все статьи
              
          
          
    include inc/footer.pug
    script
      include scripts/light-mode.js
    
