doctype html
html(lang='ru')
  head
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main
      .initial-screen
        aside.main__aside.flex
          ul.main__aside-list
            li.aside-list__item.flex.active
              +icon('fire')
              h6 Куда поехать
            li.aside-list__item.flex
              +icon('login')
              h6 Я знаю куда
  
        .main__travel-filter.flex.main-initial__tab.active
          .travel-filter__img
            a(href='country-page.html')
              img(src='images/main-initial-bg.jpg' alt='')
              .travel-filter__info.flex
                .wrap
                  span.areyou Вам подходит
                  h2 Италия
                  span.categorys Америка
                  span.categorys Виза требуется 
            button.fiter__button.fiter__button--left  
              +icon('right-arrow')
            button.fiter__button.fiter__button--right
              +icon('right-arrow')
          .travel-filter__settings
            ul.filter-settings__list
              li.filter-settings__list-item
                h6 Визовый режим
                span Без визы
              li.filter-settings__list-item
                h6 Тип поездки
                span На море
              li.filter-settings__list-item
                h6 Где
                span Европа
                
        .main__initial-screen.flex.main-initial__tab
            .wrap
              h1 Стран много - отпуск один
              p Это Европа и вам не нужна виза 
              form.initial-screen__form.flex
                input(type='text' placeholder='Италия').form__search
                input(type='submit' id='search-button').form__button
                label(for='search-button' )
                  +icon('right-arrow')

      
      
    
    include inc/footer.pug
