doctype html
html(lang='ru')
  head
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main.grid
      .main__initial-screen.flex.initial-screen
        .left-side.flex
          .wrap
            h1 Начните путешествие сегодня
            p Это Европа и вам не нужна виза 
            form.initial-screen__form.flex
              input(type='text' placeholder='Италия').form__search
              input(type='submit' id='search-button').form__button
              label(for='search-button' )
                +icon('right-arrow')
        
            
        .right-side.flex
          .right-side__heading.flex
            +icon('fire')
            h2 Важные новости
          +article-posts
          +article-posts
          +article-posts
          +article-posts
          +article-posts

      aside.main__aside.flex
        ul.main__aside-list
          li.aside-list__item.flex.active
            +icon('fire')
            h6 Путеводитель
          li.aside-list__item.flex
            +icon('login')
            h6 Авиабилеты
          li.aside-list__item.flex
            +icon('plane')
            h6 Отели
          li.aside-list__item.flex
            +icon('eye')
            h6 Туры
      
    
    include inc/footer.pug
