doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Правила провоза багажа в самолете
  body
    include inc/header.pug
    main.main.grid
      .speedbar
        span 
          a(href='#') Главная
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span
          a(href='#') Журнал
          |&nbsp;&nbsp;‒&nbsp;&nbsp;
        span
          a(href='#') Куда поехать
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span 7 самых интересных городов Германии
      article.fullstory
        .initial-screen
          
          img(src='images/fullstory-wallpaper.jpg' alt='')
          .container
            .initial-screen__info
              button.close
                +icon('cancel')
              span.category Куда поехать
              h1 7 самых интересных городов Германии
              .flex
                .post__header-infos.flex
                  +icon('eye')
                  span 1234 
                .post__header-infos.flex
                  +icon('calendar')
                  span 12 января 2018 
          
        .fullstory__container.flex
          .fullstory__content
              p Предвкушая увлекательный перелет в страну, выбранную для отпуска, многие туристы иной раз не знают об определенных правилах перевозки багажа.      
              h2 Берлин
              img(src='images/full-content-1.jpg' alt='')
              p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
              .quote
                p Местные «жрецы любви» работают преимущественно в клубах, при этом многие из них – это студенты, для которых подобная деятельность является неплохим приработком.
              p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
              h2 Мюнхен
              img(src='images/full-content-2.jpg' alt='')
              p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
              h2 Берлин
              img(src='images/full-content-1.jpg' alt='')
              p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
              h2 Мюнхен
              img(src='images/full-content-2.jpg' alt='')
              .quote
                p Местные «жрецы любви» работают преимущественно в клубах, при этом многие из них – это студенты, для которых подобная деятельность является неплохим приработком.
              p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
              h2 Берлин
              img(src='images/full-content-1.jpg' alt='')
              p Это большой, весёлый и живой город с огромным количеством исторических достопримечательностей и современных сооружений, столица субкультур, молодёжных движений и модных вечеринок. Вторая мировая навсегда оставила огромный след в истории и архитектуре Берлина, обязательно посетите Рейхстаг и музейный остров, полюбуйтесь Браденбургскими воротами, Берлинской стеной и Мариенкирхе.
              h2 Мюнхен
              img(src='images/full-content-2.jpg' alt='')
              p Второй по популярности среди туристов город в Германии, столица Баварии, так не похожая на Берлин и получившая признание и любовь путешественников благодаря пивному фестивалю Октоберфест. А ещё здесь играет именитый футбольный клуб "Бавария", так что любители спорта стремятся в Германии, в первую очередь, именно в Мюнхен. Город богат на роскошную готическую архитектуру, красивые соборы, площади и высокие колокольни.
          aside.aside.fullstory__aside
            .posts-aside__block
              h6 Темы
              nav.posts-aside__nav
                ul.posts-aside__nav-list
                  li.nav-list__item
                    a(href='#') Куда поехать
                  li.nav-list__item
                    a(href='#') Что посмотреть
                  li.nav-list__item
                    a(href='#') Советы
                  li.nav-list__item
                    a(href='#') События
                  li.nav-list__item
                    a(href='#') Места
                  li.nav-list__item
                    a(href='book-page.html') Книги
            +article-short-guidebook('Норвегия')
          
        .flex.related
            +article-related
            +article-related
            +article-related
            +article-related

            
    include inc/footer.pug
