doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Правила провоза багажа в самолете
  body
    include inc/header.pug
    main.main.grid
      .speedbar
        span 
          a(href='#') Главная
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span
          a(href='#') Журнал
          |&nbsp;&nbsp;‒&nbsp;&nbsp;
        span
          a(href='#') Советы
          |&nbsp;&nbsp;‒&nbsp;&nbsp; 
        span Правила провоза багажа в самолете 
      article.book-page
        .initial-screen.flex
          aside.book-page__poster.flex
            img(src='images/book-img.jpg' alt='')
          .book-page__discription
            .wrap
              span.name-cat Книга
              h1 Осло. Путеводитель Афиши
              hr
              h2 Авторы
              .book__authors
                span Карина Чумакова
                span Карина Чумакова
                span Карина Чумакова
                span Карина Чумакова
        
              .book-page__content-info
                h2 О чем эта книга
                p Вы держите в руках путеводитель нового поколения! Гуляя с ним по городу, вы будете удивляться, смеяться, восхищаться вместе с автором. Наш путеводитель интересно читать, он, словно живой, с воодушевлением раскроет перед вами город, который знает наизусть. Никогда не заблудитесь, идя даже непроторенными дорожками, ведь все маршруты прогулок проверены «на себе». Выбирайте на свой вкус: «Рим для романтиков» или «Рим для математиков»? Или, может быть, Рим из «Ангелов и демонов»? А если прогулка по следам Гоголя и Караваджо? Хорошего путешествия!
              h2 Теги
              .book__keywords
                a(href='#') Путеводитель Афиши
                a(href='#') Норвегия
                a(href='#') Осло
                a(href='#') Журнал
              h2 Норвегия в путеводителе 
              +article-short-guidebook('Норвегия')
            h2 Похожие книги
            .flex.related
                +article-book
                +article-book
                +article-book
                +article-book
                +article-book
            h2 Книги этой же серии
            .flex.related
                +article-book
                +article-book
                +article-book
                +article-book
                +article-book
    include inc/footer.pug
