$red-color = #f75757
$silatour-grdient = linear-gradient(to right, #43FFBA, #85FF8C)
@import '../fonts/fonts.css'
:root
  --silatourColor #abfff0
  --colorYellow #ffeb7c
  --colorBlack #2e2e2e
  --lightMode #333



@import 'inc/reset.styl'

.flex
  display flex
.grid
  display grid
.container
  margin 0 auto
  max-width 1920px
  padding 0 10%
.speedbar
  span
    color gray(90)
    a
      text-decoration underline
      color #fff

@import 'inc/header.styl'

@import 'inc/fullstory.styl'
@import 'inc/video-page.styl'
@import 'inc/travel-tip-page.styl'
@import 'inc/country-page.styl'


@import 'inc/light-mode.styl'
@import 'inc/fullscreen.styl'
@import 'inc/adaptive.styl'
